*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --accent-color: #4d5ae5;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white-color);
}

.link {
  text-decoration: none;
  color: #434455;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
/*----HEADER-----*/

.header-logo {
  color: var(--accent-color);
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 76px;
}
.header-logo-accent {
  color: #2e2f42;
}
.list {
  list-style: none;
}

.nav-li {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.contacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

/*----section 1-----*/
.solutions {
  background-color: #2e2f42;
  text-align: center;
}
.solutions-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.solutions-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.solutions-button:hover,
.solutions-button:focus {
  background-color: #404bbf;
}

/*----section 2-----*/
.advantages {
  text-align: left;
}

.advantages-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*----section 3-----*/
.activity {
  text-transform: capitalize;
}

.activity-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

/*----section 4-----*/
.team {
  background-color: #f4f4fd;
  text-align: center;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.worker {
  background-color: #ffffff;
}
.team-title-second {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*----footer-----*/
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-logo-accent {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/*----PAGE 2-----*/
.menu-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--accent-color);
  background-color: #f4f4fd;
  cursor: pointer;
}
.menu-button:hover,
.menu-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.photo-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.photo-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*-----------------HW3--------------*/
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  gap: 40px;
}

img {
  display: block;
}
